[Unit]
Description=The driver of radar iwr6843
After=network.target

[Service]
EnvironmentFile=/opt/drivers/env.sh
Type=simple
WorkingDirectory=/opt/drivers
ExecStart=/opt/drivers/bin/rslidar $BROKER_HOST $BROKER_PORT /opt/drivers/conf/rslidar/rslidar.pb.txt
Restart=always
RestartSec=1
User=nvidia

[Install]
WantedBy=multi-user.target